.navbar{
    margin-bottom: 5px;
}
.jarak{
    margin-bottom: 15px;
}

/* carousel */
.carousel-inner img {
    width: 500px;
    height: 300px;
}

/* image responsive */
.img-fluid{
    max-width: 50%;
    max-height: 50%;
}

/* carousel */
.carousel-inner img {
    width: 500px;
    height: 600px;
}

/* footer */
.footer {
    position: fixed;
    height: 55px;
    bottom: 0;
    width: 100%;
    background-color: #080808;
}

.footer-p{
    text-align: center;
    padding-top: 15px;
}

/* footer information*/
.page-footer {
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #080808;
    color: rgb(255, 255, 255);
}

.page-footer p{
    padding-top: 15px;
    text-align: left;
    color:white;
}

.jarakantar{
    margin-top: 15px;
}
@font-face {
    font-family: tulisan_bagus;
    src: url(Warsuck.ttf);
}
h2{
    font-family: 'tulisan_bagus';
}
@font-face {
    font-family: tulisan;
    src: url(Dark\ College.otf);
}
h1{
    font-family: 'tulisan';
}